@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* IDs */
#topBar {
    background-color: aliceblue;
}

#sideBar {
    position: fixed;
    float: left;
    width: 15vmax;
    height: 100%;

    padding: 15px;
    background-color: #dddddd;
    color: #232323;
    text-align: center;
    font-weight: bold;
    /* font-size: 2rem; */
}

#mainContent {
    margin-top: 20px;
    margin-left: 18vmax;
    /* width: 75vmax; */
    display: inline-block;
}


/* Classes */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 7.33%;}
.col-2 {width: 15.66%;}
.col-3 {width: 24%;}
.col-4 {width: 32.33%;}
.col-5 {width: 40.66%;}
.col-6 {width: 49%;}
.col-7 {width: 57.33%;}
.col-8 {width: 65.66%;}
.col-9 {width: 74%;}
.col-10 {width: 82.33%;}
.col-11 {width: 90.66%;}
.col-12 {width: 99%;}

[class*="col-"] {
    float: left;
    padding: 2%;
    /* margin: 0.5%; */

    text-align: center;

    transition-duration: 0.2s;

    border: 2px solid #0055aa;
    border-radius: 20px;
  }

/* [class*="col-"]:hover {
    border: 2px solid #bbbbbb;
    background-color: rgba(100, 100, 100, 0.5);
    font-size: larger;
} */

.numInput {
    width: 50px;
    height: 30px;
    background-color: #cccccc;
}

.bordered {
    border: 2px dashed #555555dd;
    border-radius: 20px;
    padding: 4%;
}

.incrementButton {
    width: 30px;
}


/* Other */
* {
    box-sizing: border-box;
}

head {
    padding: 0;
}

body {
    /* Page */
    padding: 0px;
    margin: 0;
    background-color: #373940;

    /* Text */
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #232323;
}

p {
    margin: 3%;
}

button {
    height: 30px;
    margin: 5px;

    color: black;
    background-color: #cccccc;
}