:root{
    box-sizing: border-box;
}

body {
    /* Page */
    padding: 0;
    margin: 0;
    background-color: #373940;

    /* Text */
    color: #dddddd;
    font-family: /*JetBrains Mono, Bahnschrift,*/ Arial;
}


/* CLASSES */

.main{
    margin-left: 2%;
}

.column{
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto;
    width: auto; */
}

.logo{
    height: 50px;
    width:auto;
    margin: 10px
}

.title{
    text-decoration: none;
    font-size: xx-large;
    color: #dddddd;
}


/* IDS */
#navbar{
    background-color: #26272a;
    padding: 2%;
    margin-top: 0;
}